page-register {
		.background{
			background-color: #cccccc;
		}
		.item{
		margin-bottom: 10px;
		background: rgba(255,255,255,0.5);
		border: medium none;
	}
	ion-label.color{
		color: #ff6600;
	}
}
